[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
[packages]
altair = "*"
argh = "*"
astor = "*"
attrs = "*"
backcall = "*"
base58 = "*"
bleach = "*"
blinker = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
decorator = "*"
defusedxml = "*"
docutils = "*"
entrypoints = "*"
enum-compat = "*"
future = "*"
idna = "*"
importlib-metadata = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jedi = "*"
jmespath = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-core = "*"
mistune = "*"
more-itertools = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pathtools = "*"
pickleshare = "*"
protobuf = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
pywin32 = "*"
pywinpty = "*"
pyzmq = "*"
qtconsole = "*"
requests = "*"
s3transfer = "*"
six = "*"
streamlit = "*"
terminado = "*"
testpath = "*"
toml = "*"
toolz = "*"
tornado = "*"
traitlets = "*"
tzlocal = "*"
urllib3 = "*"
validators = "*"
virtualenv = "*"
watchdog = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
zipp = "*"
ipython_genutils = "*"
Jinja2 = "*"
jupyter_console = "*"
MarkupSafe = "*"
Pillow = "*"
prometheus_client = "*"
prompt_toolkit = "*"
Pygments = "*"
PyYAML = "*"
Send2Trash = "*"
pip = "*"


[requires]
python_version = "3.7"
